/* 
 * Retina helper mixins for Compass
 * http://www.joelambert.co.uk
 * 
 * Copyright 2012, Joe Lambert.
 * Free to use under the MIT license.
 * http://joelambert.mit-license.org/
 */

@mixin background-image-retina($image) {
	background-image: image-url($image);
	
	// If we have a retina image then add styles for it too
	@if file_exists(retina_filename($image))
	{
		@media only screen and (-webkit-min-device-pixel-ratio: 2)
		{
			@include background-size(image-width($image) auto);
			background-image: image-url(retina_filename($image));
		}
	}
}

@mixin inline-background-image-retina($image) {
	background-image: inline-image($image);
	
	// If we have a retina image then add styles for it too
	@if file_exists(retina_filename($image))
	{
		@media only screen and (-webkit-min-device-pixel-ratio: 2)
		{
			@include background-size(image-width($image) auto);
			background-image: inline-image(retina_filename($image));
		}
	}
}